
/***************************************/
/* global
/***************************************/
html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 16px;
  height: 100%;
  #overflow: hidden;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 6px;
  }
}



/*reset IE defaults.*/
* {
 padding: 0;
 margin: 0;
 border: 0;
}

#viewport {
  max-width: 1300px;
  margin: 0 auto;
  overflow-y: auto;
  height: 92%;
}

/***************************************/
/* Themes
/* Most of themes css is done dynamically in themes.js
/***************************************/

/* only for the testimonial we want scroll on the div and not the page */
.fink-theme-testimonies #fink-card-content {
  overflow-y: auto;
}



/**********************************/
/* Inner content style
/**********************************/
#fink-card-content h2 {
  font-weight: lighter;
}
#fink-card-content hr {
  border-top: 2px dotted;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
#fink-card-content b {
  color: black;
}
/***************************************/
/* sidepanel
/***************************************/
#fink-sidepanel {
  width: 19%;
  float: right;
}

#fink-sidepanel-top {
  /*width: 47%;*/
  margin-right: 20%;
  margin-left: 20%;
  background-color: #f1f0ee;
  /*height: 100%;*/
  padding-bottom: 15%;
}

#fink-header {
}

#fink-logo {
  display: inline-block;
}

#fink-logo-img {
  width: 100%;
  /*height: 60px;*/
}

#fink-title {
  display: inline-block;
  color: #000000;
  font-size: 150%;
  margin-top: 18px;
}

#fink-title-text-big {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

#fink-title-text-small {
  font-size: 50%;
  text-align: center;
}

#fink-sisepanel-nav {
  margin-top: 35px;
}

.fink-sisepanel-nav-box {
  border: 2px dotted #231f20;
  margin: 9% 15% 9% 15%;
  height: 3em;
  text-align: center;
  font-size: 110%;
  cursor: pointer;
}

.wrapper {
  display:table;
  height: 100%;
  width: 100%;
}
.cell {
  display:table-cell;
  vertical-align:middle;
}

/***************************************/
/* card
/***************************************/

#fink-card {
  margin-right: 19%;
  padding-top: 21px;
}

#fink-card-image-container {
  width: 70%;
  position: relative;
  padding: 9px;
  border: 2px #908e8f solid;
  margin-bottom: 30px;
}

#fink-card-image {
  width: 100%;
}

#fink-card-title {
  font-size: 551%;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.45098) 1px 1px 0;
  position: absolute;
  left: 150px;
  top: 300px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

#fink-card-content-and-arrow {
  padding-right: 22px;
  padding-left: 10px;
  color: #8c8c8a;
  font-size: 93%;
  width: 70%;
  height: 100%;
}

#fink-card-content {
  height: 40%;
  /*height: 400px;*/
  /*TODO: enable scroll here without hiding the bullets*/
  /*overflow-y: auto;*/
}
#fink-card-carousel-nav {
  margin-top: 30px;
  margin-bottom: 5%;
}

#fink-card-carousel-nav .fink-carousel-nav-hr {
  border-top: 3px dashed #f00;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 70%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 8px;
}

.open-card {
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0.8;
}

.close-card {
  opacity: 1;
}

.close-card:hover {
  opacity: 0.5;
  cursor: hand;
  cursor: pointer;
}

/********************************************/
/*  Arrows 2
/********************************************/

.tri-arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
.right-tri-arrow {
	border-left: 20px solid #8c8c8a;
}
#fink-card-content-and-arrow:hover .right-tri-arrow {
  border-left: 20px solid #4c4c4a;
}

.left-tri-arrow {
  border-right:20px solid #8c8c8a;
}
#fink-card-content-and-arrow:hover .left-tri-arrow {
  border-right:20px solid #4c4c4a;
}

@media screen and (max-width: 1000px) {
  .right-tri-arrow {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #8c8c8a;
  }
  #fink-card-content-and-arrow:hover .right-tri-arrow {
    border-left: 10px solid #4c4c4a;
  }

  .left-tri-arrow {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #8c8c8a;
  }
  #fink-card-content-and-arrow:hover .left-tri-arrow {
    border-right:10px solid #4c4c4a;
  }
}

/********************************************/
/*  Arrows
/********************************************/
#fink-card-prev {
  margin-right: 43%;
  margin-left: 7%;
}

.open-card .arrow-icon {
  background: url(../static/sprite.png) no-repeat;
}

.open-card:hover .arrow-icon {
  position: absolute;
  right: 22px;
  top: 15px;
  background-repeat: no-repeat;
  height: 35px;
  width: 20px;
}

.open-card:hover .right-arrow .arrow-icon {
  background-position: 0 -199px;
}

.open-card:hover .left-arrow .arrow-icon {
  background-position: 0 -259px;
}

.open-card:hover .right-arrow:hover .arrow-icon {
  background-position: 0 -444px;
}

.open-card:hover .left-arrow:hover .arrow-icon {
  background-position: 0 -407px;
}

.open-card .right-arrow, .open-card .left-arrow {
  position: absolute;
  width: 64px;
  height: 64px;
  bottom: 10%;
  margin-top: -32px;
  /*background: red;*/
}

.open-card .right-arrow {
  right: 0;
}

.open-card .left-arrow {
  left: 0;
}

.fink-endorser {
  font-style: italic;
}


/*************************************************************************/
/* list bullets in cards
/*************************************************************************/
ul {
    list-style: none;
    padding:0;
    margin:0;
}

li {
    padding-left: 1em;
    text-indent: -.7em;
}

li:before {
  content: "• ";
  font-size: 130%;
  vertical-align: middle;
}

p {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
}


/***************************************/
/* loading spinner.
/***************************************/
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../static/spinner.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


/***************************************/
/* footer
/***************************************/
#fink-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6%;
  max-height: 50px;
}

#fink-footer-top {
  text-align: center;
  background-color: rgb(231, 230, 230);
  #margin-top: 1%;
  #height: 6%;
  #max-height: 50px;
}

.fink-footer-block {
  display: inline-block;
  zoom: 1;
  margin: 1px 5px;
}

.fink-footer-icon {
  max-height: 100%;
  max-width: 100%;
}
.fink-content-emp-box {
  background-color: gray;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #dbf039;
  padding-left: 1%;
  padding-right: 1%;
}


.ss-form-title {
  margin: 0;
}