<div id=fink-about-me-html>
<h2>ביוגרפיה</h2>
לאחר תואר שני ו- 10 שנות עבודה במידענות וספרנות, החלטתי לשנות כיוון בחיים ולהתמקצע במה שהיה עד אז תחביב - כושר גופני, ריצה וטריאתלון. רציתי להעביר לאחרים מהידע ומהתשוקה שלי, מתוך אמונה כי אורח חיים בריא הכולל פעילות גופנית, תזונה בריאה ואיזון בחיים, תורם לבריאות ולאושר של כל אדם. 

<p>
במכללה למאמנים במכון וינגייט סיימתי :
<ul>
<li>קורס מדריכי חדר כושר</li>
<li>קורס מדריכי ריצה וטריאתלון</li>
<li>קורס מדריכי שחיה</li>
</ul>
<p>
משנת 2006 ועד 2013, במסגרת עבודתי בחברת Endure, ליוויתי מתאמנים ברכישת הרגלים לאורח חיים בריא ובהשגת יעדים ספורטיביים מגוונים. היעדים נעים על ציר רחב, החל מכושר גופני בסיסי ועד לתחרויות אתגריות כגון איש ברזל וריצת מרתון. 

<p>
עם הניסיון והשנים ובעיקר דרך הספורטאים הרבים שליוויתי ועודי מלווה עד היום, הבנתי שחלק משמעותי בקשר שלי איתם הינו הליווי לאורך הדרך, התמיכה בתהליך ובשינוי, ללא תלות ברמת הכושר או המטרה. מתובנה זו ההתרחבות לאימון אישי היתה טבעית עבורי.
<p>
בשנת 2011 סיימתי תהליך הכשרת מאמנים בבית הספר למאמנים ב"מכון אדלר", 
 וכיום אני מאמנת מוסמכת.

</div>
