<div id="fink-testimonies-adi-html">
<h2>למדתי לתרגם את הקושי שלי לאתגר ולהאמין בעצמי</h2>

מצאתי דרכים מעשיות לניהול עצמי נכון ומאוזן בהתאם לאורח חיי ולהשקטת עומס יתר, תסכול מקצועי, חוסר סיפוק מהתפקיד.<br>
הובילו אותי לחפש אחר ייעודי המקצועי.
<p>
פריצת הדרך שלי הייתה בבחירה מחודשת להיות שלמה עם העסוק הנוכחי, הגיעה בשלב מוקדם מאוד של האימון. רק אז, יכולתי להרפות מעט מהלבטים ולהגדיר לעצמי מטרות חדשות, לראות מחדש את היכולות שלי ולפתח תחושת מסוגלות.
<b>
יכולתי לגייס כוחות מחודשים.
</b>
<p>
לאימון של טלי יש כוח רב השפעה, על אף שהוא קצר מועד, הוא מקצועי, מצליח להגדיר מטרות מוקדם, גמיש ורגיש ומחייב את שני הצדדים. האימון השאיר בי חותם של תקווה ואופטימיות וסיפק לי מאגר כלים מעשיים שמסייעים בכל תחומי חיי.
<p>
לסיכום בתהליך האימון למדתי לתרגם את הקושי שלי לאתגר ולהאמין בעצמי.
<p>
<b>
התובנה העיקרית שלי לגבי עצמי וחיי היא שחשוב להבחין בהצלחות היומיומיות, הקטנות והגדולות, אותן האימון מגדיר (ובצדק) כ"הישג" או "גאווה" ולא לפחד לעשות שימוש במילים גדולות  אלה, וביניהן גם "חזון", "ייעוד" וכדומה.
</b>
<p>

<div class="fink-endorser">עדי - גננת (31)</div>

</div>
