<div id="fink-testimonies-ayelet-html">
<h2>טלי עזרה לי לקדם את המטרה שהצבתי לעצמי בחיי</h2>
<p>
<b>
התובנה העיקרית שלי מתהליך האימון זה שאיש מקצוע יכול לעזור לי לקדם את המטרות שאני מציבה לעצמי על ידי בניית תכנית פעולה מתאימה וליווי.
</b>
</p>
<p>
השקט הפנימי של טלי והעברת האמונה בי וביכולות שלי נתנו לי בטחון ויצרו סביבת אימונים שאפשרה פריצות דרך והשגת המטרה.
</p>
<p>
<div class="fink-endorser">איילת שמש, מורה לחינוך גופני, (47)</div>
</p>

</div>
