<div id=fink-contact-html>
<p>
<h2>מעוניינים באורח חיים בריא?</h2>
שאלות נוספות על שירות האימון? אנא צרו איתי קשר דרך המייל, טלפון או מלאו את הטופס ואחזור אליכם בשמחה.
</p>
<p>
054-2406391, <a href="mailto:tali@talifink.com">tali@talifink.com</a>
</p>

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFgtR1gwNjZsV1JpMUVlamNXMi1Qa0E6MQ&amp;bc=transparent" width="100%" height="550px" style="border: 2px dotted; overflow-y: hidden;" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

</div>
