<div id=fink-faq-html>
<p>
<h2>מה זה אימון?</h2>
"תהליך משותף מעורר חשיבה, יצירתי, בין מתאמן למאמן, שמטרתו לתת השראה ועידוד לשינוי ומיצוי יכולותיו של המתאמן בחייו."<br>
הגדרה של ארגון המאמנים הבינלאומי.
</p>
<p>
מתוך אתר מכון אדלר, בית הספר למאמנים:<br>
<h2>מה זה אימון אדלריאני?</h2>
אימון הינו תהליך ממוקד ליצירת תוצאות משמעותיות עבור המתאמן.<br>
באמצעות תהליך האימון, מגדיר המתאמן מטרות ומשיג תוצאות אישיות ו/או עסקיות אשר משקפות את הערכים, החזון, הייעוד והתרומה הייחודית שלו לסביבתו.<br>
המאמן האדלריאני מאמין שהמתאמן הינו המומחה לחייו שלו ושעליו לגלות בתוכו את התשובות הנכונות לו.
</p>
<p>
תפקיד המאמן באימון האדלריאני הוא לעזור למתאמן להתחבר לכוחותיו ולהגיע לבחירות אותנטיות שיניעו אותו לפעולה ולהשגת תוצאות.
</p>
<p>
האימון מתמקד בהווה וביצירת מציאות אשר תגשים את העתיד הרצוי לאדם.
האימון מאפשר למתאמן:<br>
להתחבר לערכיו האישיים ולערכים אוניברסאליים<br>
להגדיר לעצמו חזון ומטרות אישיות לטווח קצר ולטווח ארוך<br>
לגלות ולבטא את היצירתיות והייחודיות שבו<br>
להתחבר לכוחות והיכולות הטמונים בנו<br>
להפיק תוצאות בזמן קצר<br>
להגשים את הייעוד האישי<br>
</p>
<p>
<h2>המטרה של האימון האדלריאני:</h2>
המטרה של האימון האדלריאני היא לעזור למתאמן להגיע לתחושת מיצוי והגשמה בתחומים בהם הוא בוחר להתאמן.<br>
האימון האדלריאני מייחס חשיבות רבה לתחושה החברתית של המתאמן ולתרומתו האישית בכל המעגלים בהם הוא נמצא, וזאת משום שאנו מאמינים שאין הגשמה עצמית ללא יחסי גומלין בריאים עם הסביבה.<br>
<p>
האתגר למאמנים הוא לעזור למתאמנים ליצור חזון שהוא אפשרי ומעורר השראה ולזהות את הצעדים הנדרשים להגשמתו.

<p>
<h2>למי זה מתאים</h2>
<ul>
<li>אנשים השואפים להתפתחות אישית, לחיים מלאי השראה ולהגשמה עצמית</li>
<li>אנשים אקטיביים, אשר מאמינים שיש להם יכולת ליצור מציאות אחרת ולהשפיע <br>על חייהם</li>
<li>אנשים שרוצים לקדם מטרות ומוכנים לפעול כדי להשיג את מבוקשם</li>
<li>אנשים שהיו בעבר בטיפול, אך מתקשים לתרגם את התובנות שלהם לפעולות</li>
<li>אנשים הממוקדים בהווה ובעתיד</li>
<li>אנשים המצליחים בתחומם ורוצים להמשיך ולהתפתח</li>
<li>אנשים מצליחים אשר רוצים ליצור איזון בין כל תחומי החיים</li>
</ul>
</p>
<p>
<h2>מה אפשר לצפות מאימון?</h2>
השגת בהירות בקשר לערכים, חזון, מטרות ודרכים להגשמתם<br>
מודעות לדרך ההחלטה והפעולה העכשווית של המתאמן<br>
הפקת תוצאות מוכחות בתחומים עליהם מתאמן האדם<br>
שינוי תפיסה<br>
הגברת האפקטיביות<br>
פיתוח אומץ, אמונה ואופטימיות<br>
</p>
<p>
השלכה חיובית על שאר התחומים בחייו של המתאמן: שיפור מערכות יחסים, רווחה פיננסית, שיפור איכות חיים ועוד...

</div>
