<div id=fink-testimonies-keren-html>
<h2>כשרוצים – הכל אפשרי</h2>

המאמנת שלי ! - כבר מושג שהפחיד אותי עד דמעות.<br>
<b>
אני, טיפוס מלא בטחון ! - לפחות למראית עין. אני אשה גבוהה יחסית, עם גב זקוף וראש מורם אך מבפנים יש ילדה שכאבה את נושא השומן והספורט (מה זה?!) כל חייה.
</b>
<p>
לראשונה בחיי בגיל 37 מספר חודשים לאחר לידת בני השלישי חיפשתי קבוצת ריצה. על אף שמעולם לא רצתי.אפילו לא לאוטובוס! לא רצתי ביסודי או בתיכון ולא רצתי בצבא. הייתי אלופת הפטורים. אלופת התירוצים! זה הרגיש ממש כמו פגם מולד. כאילו דבר שלא מתאפשר בכלל במבנה וביכולת הפיזית שלי, שנראה שלעולם לא יוכל להשתנות.
<p>
באימון הראשון נתקלתי במאמנת קשוחה ואהבתי את זה מאד אך גם פחדתי שלא אעמוד בלקבל מרות כהרגלי.<br>
טלי אמרה לי ולבנות בקבוצה, שנתחיל חצי דקה הליכה  וחצי דקה ריצה. הסתכלתי עליה כמשוגעת - הרי איני יודעת לרוץ  אני פשוט לא יכולה. לא יכולה להרים רגליים. אך לא יודעת לדלג או לקפוץ  לא בגלל מגבלויות פיזיות כלשהן.
<p>
<b>
בזכות האימון והסבלנות והאמונה שקיבלתי בעצמי שאני כל יכולה - רצתי.
</b>
כי הכל רק פינוק מסתבר. לא אוהבת להזיע. מפחדת שמתנשפים חזק שאי אפשר לנשום. ומה אם אקיא מהמאמץ. "אז תקיאי" טלי אמרה. וכמובן שמעולם לא הקאתי ממאמץ. קיטרתי ורצתי. צחקתי ורצתי. סיפרתי סיפורים מצחיקים ורצתי.טלי שמעה קיטורים ותירוצים שלי בלי סוף. ורצתי.
<p>
אמרו לי שכשרצים משתחררים אנדרופינים.<br>
בהתחלה, השתחרר לי רק השטן! רוע. ממש רוע. כי קשה לי. והתסכול אדיר.<br>
אחרי מספר שבועות שאני באמת מצליחה, ועושה את זה וחוזרת עם בגדי ספורט רטובים מזיעה. ורצתי היום. באמת רצתי. הזוי. לא יאמן -  וואי איזו הצלחה כבירה. אושר מוחלט. הצלחה מסחררת! אנדורפינים
<b>
השתחררו ובגדול והתחלתי להיות אשה מאושרת יותר רגועה יותר חייכנית יותר. מבסוטית באמת כל פעם מחדש.
</b>
<p>
כעבור חצי שנה רצתי 5 ק"מ בכל אימון - לאט ובמתינות עם הרבה נכונות ואמביציה להצליח ולסיים כל אימון - לא בבית חולים ולא על הרצפה מנפילה או התמוטטות.<br>
<b>
באמת שבכל אימון הופתעתי מחדש שצלחתי עוד משימה.<br>
</b>
האימונים היו מאד מגוונים - מה שלגמרי החזיק אותי מאד בעניינים.<br>
עבדנו על כח, מרחק וספרינטים ולמדנו יציבה ותנוחות לריצה. למדתי לרוץ ! לראשונה בחיי.<br>
לאחר חצי שנה טלי הודיע לקבוצה להירשם לתחרות של מרתון תל אביב ל 5 ק"מ ועשיתי זאת. Wow איזה אדרנלין יש בתחרות. הרבה יותר קל לרוץ<br>
ואז היה את את מירוץ הלילה של נייק שנשמע כמו חלום. וגם את זה עשיתי. 10 ק"מ ! טירוף!! לא אמיתי. פיסגת ההצלחה. פיסגת חלומותיי!!<br>
ועוד אחרי זה התחלנו להתאמן לטריאלתון נשים. שזה באמת באמת נשמע כבר לא אמיתי. כשרואים  אותי. הרבה לא האמינו אבל אני . אני. אני. עשיתי זאת!!
<p>
תודה רבה טלי.
<b>
לימדת אותי המון. על ספורט. על הצלחות. על אפשרויות.
</b>
<div class="fink-endorser">קרן אוזלבו – אשת עסקים (42)</div>

</div>
