<div id="fink-testimonies-korach-html">
<h2>שילוב הספורט בחיי היומיום מהווה הצלחה עבורי</h2>
המניע העיקרי להתחיל להתאמן בצורה מסודרת, היה הרצון להשקיע בתחום, שיהווה עבורי מפלט מתכני היום יום, באשר הם.
<p>
ההתמדה בשילוב עיסוק כמעט יום יומי בספורט חובבני, במקביל לכל מה שעשיתי בעבר, מבלי לפגוע ביתר הדברים, מהווה הצלחה עבורי.
<p>
במהלך האימון המשותף חשתי כי אני קשור לגורם מקצועי מהימן, בר סמכא, ובעל רגישות, השולט בכל ההיבטים הקשורים לאימון מסוג זה. היבטים אלה כללו: קביעת יעדים ראליים, ותכנון מסגרת אימון להשגתם. ייעוץ בענייני תזונה, תמיכה, והתמודדות מנטלית עם האתגרים הנלווים, והנובעים מאופי האימונים והאינטנסיביות שלהם. למעשה, כספורטאי חובב זכיתי במאמנת מקצועית.
<p>
<b>
תהליך האימון הבשיל בי את היכולות לעסוק בספורט סיבולת באופן עצמאי, תוך שימוש בכלים ובעצות שקיבלתי במהלך שנות האימון המשותף. כלים אלה מלווים אותי כבר מספר שנים, ומאפשרים לי להגיע להישגים אישיים כמעט בכל תחום.
</b>
<div class="fink-endorser">יעקוב קורח (50), רופא</div>
</div>
