<div id=fink-testimonies-lili-html>
<h2>השמיים הם הגבול</h2>
<p>הכל התחיל במקרה (כמו כל הדברים הטובים). התארגנה קבוצת נשים להתאמן לטריאתלון נשים והצטרפתי בלי שאיפות גדולות, ובלי לחשוב שבאמת אגיע ליעד הזה.
<p>
<b>
קשה להגדיר פריצת דרך אבל ללא ספק היו כמה "נצחונות" קטנים שדחפו קדימה, פעם ראשונה שרצתי 10 דקות רצופות,(ואחר כך חצישעה, שעה וכו')
</b>
פעם ראשונה שהצלחתי לשחות  בים ממש בלי פחד, וללא ספק טריאתלון נשים שנתן את התחושה
שהשמיים הם הגבול,
בלי טיפת ציניות,
<p>-תהליך האימון המשותף איתך הוא ללא ספק אחת הסיבות העיקריות להצלחת כל התהליך, ההתמדה שלי היא לא מעט בזכות הקשר הכמעט יומיומי אתך, מה ששמר עלי בעליות ובמורדות (פיזית ונפשית). אין לי ספק היום אחרי שבע שנים(?!) שזאת הדרך בשבילי לפחות, ולא הייתי מגיעה להשגים שהגעתי בכוחות עצמי.
<p>מעבר להישגים הפיזיים הנמדדים אין ספק שהאימון תרם רבות לביטחון שלי, ליכולת ההתמדה, לנחישות בכל תחומי החיים ולא רק בספורט.
<div class="fink-endorser"> לילי גולדשטיין – אדריכלית (51)<div>

</div>
