<div id="fink-testimonies-merav-html">
<h2>ריצת מרתון - פרצתי את הגבולות של עצמי</h2>
<b>
פריצת הדרך באימון הייתה לראות כל פעם מחדש את היכולת שלי לעשות דברים שנראו בלתי אפשריים,
</b>
למשל, אימון ריצה בגשם זלעפות או בחמש בבוקר. למדתי דרך האימון, להאמין בעצמי, לדעת שאני יכולה, לא לחשוש ולהמשיך לכיוון המטרה - ריצת מרתון - פרצתי את הגבולות של עצמי.
<p>
למאמן יש תפקידים רבים במיוחד ככל שמתקרבים לאירוע עצמו, בטחון כבר אמרתי. הקשבה - טלי שמעה ממני על כל החששות והדאגות, הרגשתי שיש לי עם מי לדבר ולשתף, שאני לא לבד. "רופא"- כשהייתי חולה שבוע  לפני וקיבלתי אנטיביוטיקה טלי נתנה לי "אישור" שזה בסדר לקחת.
<p>
לפני המרתון הראשון טלי הפכה להיות מאד משמעותית, דאגה שלא אפצע באימונים, וגם שאנוח כשצריך.
ורגע אחרי המרתון- הטלפון השני הוא לטלי, הראשון לבעל...<br>
לשני המרתונים הבאים שלי התאמנתי לבד בעזרת הכלים שרכשתי בתהליך האימון עם טלי.


<div class="fink-endorser">מירב דבורי לוי (42) - מנהלת שיווק</div>
</div>
