<div id=fink-my-vision-html>
<h2>טלי פינק</h2>
<p>
אימון ליווי והנחייה בתהליך שינוי לאורח חיים בריא.
</p>
<h2>החזון שלי</h2>
החזון שלי הוא לאמן בהתלהבות ליצירת אורח חיים בריא, כמפתח לאושר והגשמה עצמית.
כמאמנת, אנחה ואתמוך בך בדרכך, לשיפור ולשימור אורח החיים הבריא שלך.
<br>
יחד, נברר מהו אורח חיים בריא עבורך, נציב מטרות ונתקדם בסבלנות, נחישות והתמדה, לקראת יצירת הרגלים חדשים ובריאים.
<p>
<div class="fink-content-emp-box">

אני מאמינה כי כל אדם הוא בעל כוחות, ייצירתי וייחודי. בתהליך אימון, אני מזמינה גם אותך לחשוב על עצמך ככזה ולנצח הרגלים ישנים ובלתי מועילים, בעזרת הרגלים חדשים ונחוצים.
</div>

</div>
