<div id="fink-testimonies-naama-html">
<h2>למדתי להתייחס לעצמי בכבוד</h2>

אצלי זה התחיל כסוג של בדיחה. מעולם לא רצתי, תמיד כאבו לי הברכיים והיו לי עוד תירוצים, אז הצלחתי לצלוח את התיכון והצבא בלי לרוץ. חברה הציעה לי ללכת ל"חוג ריצה" ומשם זה התגלגל.
זה לא היה קל אבל הליווי של טלי, האמונה בי ושאני יכולה, שכל הכבוד לי על זה שאני אפילו מנסה, העידוד, הפרגון ושוב ושוב ושוב האמונה בי, עזרו לי להמשיך ולהגיע למטרה - טריאתלון !
<p>
<b>
למדתי בדרך על תהליך המחשבה שלי ועל כמה אנרגיה אני משקיעה בלומר לעצמי שאני לא טובה או לא יכולה... לעומת מתי אני באמת חווה קושי. למדתי להתייחס לעצמי בכבוד ולא לזלזל כל כך ביכולות שלי.
</b>
<p>
סיימתי את תהליך האימון עם אמונה בעצמי ועם הרבה מאד סבלנות לנסיונות חוזרים ואימונים... לדעת שלפעמים יש נפילה או נסיגה ובנסיון הבא זה יהיה יותר טוב :-)

<div class="fink-endorser">
נעמה צור, משאבי אנוש, 33
</div>
</div>
