<div id="fink-testimonies-noy-html">
<h2>היכולת לשלב בין אימון מנטלי וספורטיבי שילוב מנצח</h2>
כל חיי עסקתי בספורט בצורה כזו או אחרת. לאופניים נכנסתי בעקבות הספר של לאנס ארמסטרונג. התחלתי באופני שטח עברתי לכביש ואז הדרך לטריאתלון הייתה קצרה. החיבור עם גיל 40 והחיפוש באתגרים הוביל אותי לאיש ברזל ומאז זה דרך חיים.
<p>
פריצת הדרך הייתה בעצם ההתחברות לתהליך מסודר של אימון, שיפור מתמיד ושדרוג יכולות. טלי אפשרה להתמודד טוב יותר עם תחרויות, להסתכל קדימה לתחרויות גדולות יותר כגון מרתונים ואיש ברזל.
<p>
התהליך והדרך הייתה מדהימה. הפידבק השבועי לגבי היכולות הפיזיות והמנטליות לקחו אותי למקומות טובים יותר.
<p>
מה שהשגת זה <b>שילוב הרמוני של הספורט עם דרך חיי</b>, שיפור התמודדות עם אתגרים בתחום המשפחה והעבודה ואימוץ דרך הניצחון כדרך חיים. זה מגביר את האמונה בעצמך ועוזר לך להיות מאושר.
<b>
הדרך מאוד חשובה. משמעת והתמדה תמיד יביאו לתוצאות . חשוב להסתכל רחוק ולכוון גבוה.
</b>
<p>
היכולת שלך כמאמנת לשלב בין האימון הספורטיבי לניתוח והתמיכה המנטלית היא בעצם שילוב מנצח.
<p>
הרבה תודה ,
<p>
<div class="fink-endorser">נוי חזן – מנהל בכיר בחברה בינל' (41)</div>

</div>
