<div id=fink-services-html>
<h2>תיאור</h2>
כולנו רוצים להיות בריאים ומאושרים. הדרך למטרה זו כוללת העצמת החלקים בחיינו שאנו שבעי רצון מהם, לצד שינוי וויתור על הרגלים ופרשנויות שאינם מקדמים אותנו ועדכונם לכאלו המייצרים אורח חיים בריא.
<p>
אורח חיים בריא מורכב משלושה מרכיבים עיקריים:
<ul>
<li>איזון נפשי </li>
<li>כושר גופני</li>
<li>תזונה בריאה</li>
</ul>
<p>
<p>
שלושת המרכיבים קשורים ותלויים זה בזה.
<br>
אורח חיים בריא מביא אתו שמחה, כוח והשלמה עצמית, הוויה של אדם שלם.
רבים מאתנו נמצאים בחיפוש מתמיד, מנסים דרכים שונות ומשונות ולרוב מתקשים להתמיד.
מה עומד בינך לבין הגשמת אורח חיים בריא? אני מזמינה אותך לחקירה ועשיה בתהליך אימוני.

<h2>מוצרים / שירותים</h2>
<p>
1. תכנית שינוי -<br>
תכנית הכוללת 12 אימונים אישיים שבועיים באורך שעה.
זוהי עבודה משותפת בה נגדיר מהו אורח חיים בריא בשבילך, נציב מטרות בהירות, נחקור, נמצא ונבין מה יקדם אותך לקראת רכישת הרגלי אורח חיים בריא.
בכל אימון נעצב יחדיו פעולה, שתקדם אותך אל עבר המטרה שנבחרה, באופן הדרגתי. אני אהיה שם על מנת לסייע לך להתמיד ולממש את הפעולה החדשה במציאות חייך. המחויבות שלך לתהליך משולה ל"דלק" של התהליך, ככל שיהיה יותר ממנו הקצב יעלה.
</p>
<p>
2. פגישות התחדשות -<br>
עם השלמת תכנית השינוי נוכל לקיים פגישות התחדשות תקופתיות בהן נשכלל את הכלים לשימור והעמקת הישגיך. אורח חיים בריא הוא בחירה לחיים, פגישות אלה יעזרו לך להתמודד עם הקושי שבביסוס השינוי לאורך זמן.
</p>
<p>
אורח חיים בריא הוא רב תחומי, ומצריך לעיתים שיתופי פעולה בין מגוון מומחים. על פי הצורך והרצון שלך אתאים, בעלי מקצוע ו/או מסגרות שיעזרו בתמיכה בתהליך, כגון: תזונאים, מדריכי כושר, חוגים בענפי הספורט השונים, אימוני חוץ/ פנים, אימון קבוצתי/ פרטני וכו"ב. הכל על פי הרצון, המטרות והקצב שיבחרו. 
</p>
</div>
